/* タブレット端末向けのメディアクエリ */
@media (max-width: 1100px) {

  .container {
    padding: 0 40px;
  }

  .bygenre-contents {
  }

  .books-title {
    width: 100%;
  }

  .sub-contents-main {
    width: 100%;
}

  .sub-contents {
    margin-top: 40px;
    width: 100%;
  }

  .btn-background {
    display: inline-block;
    text-align: center;
    padding-right: 25px;
  }

  .book-text {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .your-favorite-title {
    margin-left: 0;
  }

  .contact-btn {
    font-size: 16px;
  }

  .contact > .share-btn {
    right: 4.5%;
  }
}

/* スマホ横型向けのメディアクエリ */

@media (max-width: 670px){
  .container {
    padding: 0 15px;
  }

  a.amazon-link {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .book {
    width: 50%;
  }

  .book-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .books-title {
    width: 100%;
    font-size: 14px;
  }


  .bygenre-contents {
    width: 50%;
  }

  .sub-contents {
    width: 100;
}

  .sub-contents-main {
  }

  .btn {
    font-size: 14px;
  }

  .book-text {
    font-size: 14px;
  }

  .begin-img-2 {
    display: block;
  }

  .btn-hatubai {
    margin-bottom: 30px;
  }

  .your-favorite-title {
    text-align: center;
    margin: 0;
  }

  .your-favorite-title p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #category-title-pc {
    text-align: center;
    margin-bottom: 10px;
    display: block;
  }

  #category-title-sumaho {
    display: none;
  }

  .books-main-contents {
    margin-top: 0;
  }

  .contact-btn {
    font-size: 14px;
  }

  .privacy p {
    font-size: 14px;
  }
  .about-contents {
    padding: 10px;
  }

  .about-contents p {
    font-size: 14px;
    padding: 0 5px;
  }

  .about-contents > .sns-share {
    text-align: center;
  }

  .about-contents > .sns-share span {
    font-size: 14px;
  }

  #contact-page p {
    font-size: 16px;
  }
}

/* スマホ縦型向けのメディアクエリ */

@media (max-width: 400px){

  .book-report img {
    width: 25px;
  }

  .about-image-contents img {
    width: 304px;
    height: 200px;
  }

  .about-image-contents iframe {
    width: 304px;
    height: 200px;
  }

}
