/* タブレット向けレイアウト */

/* ブレイクポイントが1000px以下のときのメディアクエリ */
@media (max-width: 1100px) {
  .book {
    width: 25%;
  }

  .main-contents {
    height: 4400px;
  }

  .books-title {
    width: 100%;
    font-size: 14px;
  }

  .books-bygenre {
    height: 500px;
  }

  .book-report {
  }

  .bygenre-contents {
    width: 25%;
  }

  .sub-contents-main {
    width: 100%;
}

  .sub-contents {
    margin-top: 40px;
    width: 100%;
  }

  .books-main-contnts {
  }

  .btn-background {
    display: inline-block;
    text-align: center;
    padding-right: 25px;
  }

  .book-text {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
  }

}

@media (max-width: 670px){

  .main-contents {
  height: 5800px;
  }

  .book {
    width: 100%;
  }

  .books-title {
    width: 100%;
  }
  footer {
    text-align: center;
  }

  .books-bygenre {
    height: 700px;
  }

  .bygenre-contents {
    width: 50%;
  }

  .sub-contents {
    width: 100%;
  }

  .sub-contents-main {
    text-align: center;
    width: 100%;
  }

  .btn {
    font-size: 14px;
  }

  .book-text {
    font-size: 12px;
  }

  .begin-img-2 {
    display: block;
  }

}
