/* タブレット向けレイアウト */

/* ブレイクポイントが1000px以下のときのメディアクエリ */
@media (max-width: 1100px) {
  .book {
    width: 25%;
  }

  .books-title {
    width: 100%;
  }

  .main-contents {
    height: 3500px;
  }

  .books-bygenre {
    height: 500px;
  }

  .bygenre-contents {
    width: 25%;
  }
}

@media (max-width: 670px){

  .main-contents {
    height: 4500px;
  }

  .book {
    width: 100%;
  }

  .books-title {
    width: 100%;
  }
  footer {
    text-align: center;
  }

  .books-bygenre {
    height: 700px;
  }

  .bygenre-contents {
    width: 50%;
  }
}
