* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 4px 3px -3px #404040;
  padding-top: 5px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}


.logo {
  float: left;
  width: 50px;
  opacity: 0.8;
}

.logo:hover {
  cursor: pointer;
}

.header-right {
  float: right;
  background-color: rgba(0,112,108,0.8);
  transition: all 0.3s;
  border-radius: 6px;
  backface-visibility: hidden;
}

.header-right:hover {
  background-color: rgba(0,92,73,1);
  cursor: pointer;
}

.header-right a {
  color: white;
  font-size: 18px;
  line-height: 50px;
  padding: 0 10px;
  display: block;
  text-decoration: none;
}

.header-left {
  backface-visibility: hidden;
}

.top {
  width: 100%;
  height: 600px;
  padding-top: 60px;
  background-image: url("../top.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.top h1 {
  font-family: 'Chalkboard SE','Leelawadee UI','Bodoni 72 Smallcaps',sans-serif;
}

.top-contents {
  padding: 20px 0;
  text-align: center;
}

.top-title {
  font-size: 90px;
  animation-name: my-fade-in;
  animation-duration: 2s;
}

.top-subtitle {
  font-size: 33px;
  font-weight: bold;
  animation-name: my-fade-in;
  animation-duration: 2s;
}

.main-contents {
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}

.main-contents h1 {
  text-align: center;
  padding-bottom: 10px;
}

.main-contents h2 {
  text-align: center;
  padding-bottom: 12px;
}

.books {
  color: #545454;
}

.books-bygenre {
  color: #545454;
}

.books-title {
  width: 900px;
  margin: 0 auto;
}

.books-title img {
  vertical-align: baseline;
}

.books-contents {
  padding: 50px 0;
  color: #545454;
}

#books-padding {
  padding: 20px 0;
}

#begin-padding {
  padding: 50px 0 20px;
}



.book {
  float: left;
  width: 16%;
}

.book-link {
  text-align: center;
}

.book-link img{
  transition: 0.1s;
}

.book-link img:hover {
  box-shadow: 0 0 2px #808080;
}

.share-btn:visited {
  color: white;
}

.share-btn {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 13px;
  display: inline-block;
  border-radius: 35px;
}

.top-btn {
  color: white;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  border-radius: 25px;
  background: rgba(85,172,238,1);
  animation-name: my-fade-in;
  animation-duration: 2s;
}

.top-btn:hover {
  background: rgba(85,172,238,0.9);
  cursor: pointer;
}

.top-btn span {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  vertical-align: text-bottom;
}

.top-btn > i {
  margin: 0 5px;
}

.twitter {
  background-color: #55acee;
}

.sns-share {
  margin-top: 25px;
}

.sns-share i {
  transition: all 0.7s;
}

.sns-share i:hover {
  transform: rotateY(360deg);
}

.facebook {
  background-color: #3B5998;
}

.line {
  background-color: #00c300;
}

.hatena {
  background-color: #008fde;
}

.github {
  background-color: #94d82d;
}

.connpass {
  background-color: #c82a16;
}

.qiita {
  background-color: #55c500;
}

.sns-share > .hatena {
  padding: 13px 11px;
}

.sns-share > .facebook {
  padding: 13px 15px;
}

.sns-share > .line {
  padding: 13px 15px;
}

.top-contents > .sns-share {
  display: block;
  margin-top: 40px;
}

/* Font Awesome hatena bookmark */
.fa-hatena:before {
	content: "B!";
	font-family: Verdana;
	font-weight: bold
}

@keyframes my-fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);/* Y軸方向に50px */
  }
  to {
    opacity: 1;
    transform: translateY(0);/* Y軸方向に0px */
  }
}

.book-title {
  text-align: center;
  font-size: 12px;
}

.clear {
  clear: left;
}

.begin {
  border-bottom: 4px solid #ff69b4;
}

.begin-img {
  vertical-align: baseline;
}

.begin-img-2 {
  vertical-align: baseline;
}

.begin-2 {
  vertical-align: top;
  margin-left: 5px;
}

.expert {
  border-bottom: 4px solid #ebd900;
}

.expert-img {
  vergical-align: baseline;
}

.expert-2 {
  vertical-align: top;
  margin-left: 5px;
}

.senior {
  border-bottom: 4px solid #0000DD;
}

.senior-img {
  vertical-align: baseline;
}

.senior-2 {
  vertical-align:top;
  margin-left: 5px;
}

.bygenre {
  border-bottom: 4px solid #3CB371;
}

.bygenre-img {
  vertical-align: baseline;
}

.bygenre-2 {
  vertical-align: top;
  margin-left: 5px;
}

.bygenre-contents {
  float: left;
  width: 16%;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px 0;
  border-top: 1px groove #eee;
  background-color: rgba(0,112,108,0.8);
  width: 100%;
  height: 70px;
}

.copyright {
  color: black;
  font-size: 12px;
  padding-top: 10px;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact a:visited {
  color: white;
}

.about-image-contents {
  text-align: center;
}

#contact-page p {
  text-align: center;
  background: #f7f7f7;
  box-shadow: none;
  font-size: 18px;
}

#contact-page a {
  text-decoration: none;
  color: blue;
}

#contact-page a:visited {
  color: blue;
}

.books-main-contents {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.category-title {
  padding: 0 0 20px;
}

.category-title a {
  text-decoration: none;
  color: #545454;
}

.category-title a:visited {
  color: #545454;
}

#category-text a {
  text-decoration: none;
  color: #545454;
}

#category-text a:visited {
  color: #545454;
}

#category-title-pc {
  display: none;
}

.sub-contents-main {
  width: 40%;
  float: left;
  text-align: center;
}

.sub-contents {
  float: left;
  width: 60%;
}

.sub-title {
  margin-bottom: 50px;
}

.btn {
}

.eva {
}

li {
  list-style: none;
  margin: 0px;
}

.sub-title-li {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}

.sub-title-left {
  float: left;
}


.btn-hatubai {
  display: inline-block;
  line-height: 35px;
  padding-left: 10%;
}

.book-report {
  vertical-align: baseline;
}

.book-text {
  vertical-align: 8px;
  font-size: 18px;
  margin-left: 10px;
}

.read-text {

}

.contact-btn {
  text-align: center;
  font-size: 18px;
}

.contact-btn a {
  color: blue;
  text-decoration: none;
}

.contact-btn a:visited {
  color: blue;
}

.btn-button {
  margin-top: 50px;
}

.btn-message {
  display: inline-block;
}

input,textarea {
  width: 400px;
  padding: 20px;
}

.contact-submit {
  background-color: rgba(0,112,108,0.7);
  color: white;
  transition: all 0.3s;
  display: block;
  margin: 0 auto;
  border: rgba(0,112,108,07);
  box-shadow: 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.contact-submit:hover {
  cursor: pointer;
  background-color: rgba(0,112,108,1);
}
.contact-submit:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.amazon-image {
  padding-top: 10px;
  overflow: hidden;
}

.amazon-image img {
  transition-duration: 0.3s;
}

.amazon-image img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.about-contents {
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding: 20px 40px;
}

.about-contents a {
  text-decoration: none;
  color: blue;
}

.about-contents a:visited {
  color: blue;
}

.about-contents h3 {
  margin-top: 50px;
  font-size: 22px;
}

.about-contents p {
  padding: 0 5px 0 20px;
}

.about-contents > .sns-share {
  text-align: center;
}

.about-contents > .sns-share i {
  color: white;
}

.about-contents > .sns-share span {
  display: block;
  padding-top: 15px;
}

.about-contents > .sns-share .share-btn {
  border-radius: 10px;
  padding: 5px 10px;
}

.about-contents > .sns-share .line {
  padding: 5px 12px;
}

.about-contents > .sns-share .github {
  padding: 5px 11px;
}

.about-contents > .sns-share .connpass {
  padding: 5px 11px;
}

.about-contents > .sns-share .qiita {
  padding: 5px 12px;
}

#how-to-use {
  margin-top: 0;
}

#ijyou {
  text-align: right;
}

.ribbon-btn {
  margin-top: 40px;
}

.ribbon-btn-text {
  padding: 10px;
  background-color: #FF99CC;
  border-radius: 15px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2;
}


.ribbon-btn-img {
  vertical-align: bottom;
}

.amazon-price {
  margin-top: 10px;
}

.amazon-price span {
  color: #ff69b4;
  font-size: 38px;
  font-weight: bold;
}

.your-favorite-title {
  margin: 15px 30px;
}

.sns-toppage {

}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}

.ribbon-top {
    margin-top: 10px;
    animation-name: my-fade-in;
    animation-duration: 2s;
}

.ribbon20 {
    display: inline-block;
    position: relative;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    -ms-transform: rotate(-10deg) skew(-17deg,4deg);
    -webkit-transform: rotate(-10deg) skew(-17deg,4deg);
    transform: rotate(-10deg) skew(-17deg,4deg);
}

.ribbon20:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0,112,108,0.8);
    bottom: -7px;
    left: -15px;
    z-index: -2;
}

.ribbon20:after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(0,112,108,0.8);
    bottom: -10px;
    right: -25px;
    z-index: -2;
}

.ribbon20 h3 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 20px;
    line-height: 45px;
    font-size: 18px;
    color: white;
    background-color: rgba(0,112,108,0.8);
}
.ribbon20 h3:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 7px transparent;
    border-right: solid 25px #c6821e;
}
.ribbon20 h3:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #c6821e;
}

a.amazon-link {
  display: inline-block;
  text-decoration: none;
  height:60px;
  width: 280px;
  line-height: 60px;
  font-size: 4em;
  font-size: 150%;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0,112,108,0.8);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 3px #c0c0c0;
}

a.amazon-link:hover{
  background: #fff;
  color: #2bb6c1;
  border:solid 1px #2bb6c1;
}
